ion-item {
--padding-start: 5px;
--inner-padding-start: 5px;
--background: rgba(0,0,0,0);
--border-color: rgba(0,0,0,0);
}

// ion-item {
//     border-radius: 10px;
//     height: 55px;
//     box-shadow: 1px 10px 10px 0px rgba(153, 153, 153, 0.438);
//     --highlight-height: 0px;

//     ion-input{
//         font-size: 18px;
//         --padding-top: 18px;
//         --padding-bottom: 17px;
//         --padding-start: 5px;
//     }
// }

// ion-content{
//     --background: #c2a7a7;
// }

// ion-toolbar{
//     --background: #c2a7a7;

// }

// ion-button{
//     height: 55px;
// }